@import "./partials/colors";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;

  #game {
    #game-board {
      float: left;
      width: 50%;

      .board {
        position: relative;
        top: 10px;
        margin: 0 auto;
        width: 50%;

        .board-row {

            &:after {
              clear: both;
              content: "";
              display: table;
            }

            .square {
              background: #fff;
              border: 1px solid #999;
              float: left;
              font-size: 24px;
              font-weight: bold;
              line-height: 34px;
              height: 34px;
              margin-right: -1px;
              margin-top: -1px;
              padding: 0;
              text-align: center;
              width: 34px;

              &:focus {
                outline: none;
              }
            }
          }
      }
    }

    #game-info {
      float: right;
      width: 50%;
    }
  }


}
